@import '../../../styles/partials/variables';
@import '../../../styles/partials/mixins';

.video-control {
    width: 100%;
    background-color: $bf-dark-black;
}

video {
    display: block;
    width: 100%;
}