@import '../../../../styles/partials/mixins';

article {
	@include padding-TB;
	@include flex-pattern(row, flex-start);
	@include flex-gap;
	@include desktop {
		padding-right: $gutter-desktop;
	}

	div.avatar {
		flex-shrink: 0;
		background-color: $bf-mercury;
	}

	.comment {
		flex: 1;
		@include flex-pattern;
		@include max-width-content;
		gap: $unit;
		overflow-wrap: break-word;

		&__attribute {
			@include flex-pattern(row);
			.text--number {
				text-align: right;
			}
		}

		p {
			white-space: pre-wrap;
		}

		&__action {
			display: flex;
			flex-direction: row;
			justify-content: flex-end
		}
	}
}

article.comment--not-last {
	@include divider('bottom');
}
