@import '../../../styles/partials/variables';
@import '../../../styles/partials/mixins';

.video-container {
	width: 100%;
	background-color: $bf-dark-black;
	position: relative;
}

video {
	display: block;
	width: 100%;

	@include tablet {
		@include padding-LR;
	}

	@include desktop {
		@include margin-LR;
		@include width-grid(10);
		padding: 0;
	}
}

.video-controls {
	@include padding-LR;
	display: flex;
	position: absolute;
	width: 100%;
	transform: translateY(-5 * $unit);
}
