@mixin tablet {
    @media only screen and (min-width: $tablet-size) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: $desktop-size) {
        @content;
    }
}

@mixin width-grid($n) {
    width: 100%;
    @include tablet {
        width: calc($tablet-column * $n + $tablet-gutter * ($n - 1));
    }
    @include desktop {
        width: calc($desktop-column * $n + $desktop-gutter * ($n - 1));
    }
}

@mixin margin-LR {
    margin-left: $margin-mobile;
    margin-right: $margin-mobile;
    @include tablet {
        margin-left: $margin-tablet;
        margin-right: $margin-tablet;
    }
    @include desktop {
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin padding-TB {
    padding: $gutter-mobile 0;
    @include tablet {
        padding: $gutter-tablet 0;
    }
}

@mixin header {
    padding: 24px 0 16px;

    @include tablet {
        padding: 36px 0 24px;
    }
}

@mixin divider {
    border-bottom: 1px solid $bf-mercury;
}