$bf-black: #323232;
$bf-blue: #0095FF;
$bf-silver: #AFAFAF;
$bf-white: #FFFFFF;

$bf-dark-black: #000000;
$bf-dark-blue: #0065AD;
$bf-mercury: #E1E1E1;
$bf-alabaster: #FAFAFA;

$bf-error: #D22D2D;



@font-face {
    font-family: 'Avenir Next Bold';
    src: url(../../assets/font/AvenirNextLTPro-Bold.otf) format('opentype'),
         url(../../assets/font/AlternativeFiles/AvenirNextLTProBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Avenir Next Regular';
    src: url(../../assets/font/AvenirNextLTPro-Regular.otf) format('opentype'),
         url(../../assets/font/AlternativeFiles/AvenirNextLTPro.ttf) format('truetype');
}