@font-face {
    font-family: 'Avenir Next Bold';
    src: url(../../assets/font/AvenirNextLTPro-Bold.otf) format('opentype'),
         url(../../assets/font/AlternativeFiles/AvenirNextLTProBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Avenir Next Regular';
    src: url(../../assets/font/AvenirNextLTPro-Regular.otf) format('opentype'),
         url(../../assets/font/AlternativeFiles/AvenirNextLTPro.ttf) format('truetype');
}