@import '../../../styles/partials/variables';
@import '../../../styles/partials/mixins';

.comments {
	@include flex-pattern;
	gap: 0;

	& > p {
		padding-bottom: $gutter-mobile;
	}

	&__form {
		@include flex-pattern(row);
		@include divider;

		.avatar {
			transform: translateY(20px);
		}

		form {
			@include flex-pattern;
		}
	}
}
