@import '../../../styles/partials/mixins';

.comments {
	@include flex-pattern;
	gap: 0;

	&__form {
		@include flex-pattern(row);
		@include padding-TB;
		@include divider;

		.avatar {
			transform: translateY(20px);
		}

		form {
			@include flex-pattern;
			flex: 1;

			.text-input {
				@include flex-pattern;
				gap: 0;
			}
		}
	}
}
