@import '../../../../styles/partials/mixins';

.thumbnail {
	@include flex-pattern(row, flex-start);
	@include flex-gap;
	cursor: pointer;

	img {
		width: $unit * 12;
		aspect-ratio: 16 / 9;
		border-radius: $radius;
		background-color: $bf-mercury;
		object-fit: cover;
		object-position: center;

		@include tablet {
			width: $unit * 15;
		}
	}

	div {
		flex: 1 0;
		@include flex-pattern;
		gap: normal;
	}
}
