@import '../../styles/partials/mixins';

main {
	.text-control {
		@include margin-LR;
		@include flex-pattern;
		gap: 0;

		@include desktop {
			flex-direction: row;
			@include width-grid(12);

			&__current-video {
				flex: 1;
			}
		}
	}
}
