@import '../../styles/partials/global';

header {
    @include margin-LR;
    @include margin-TB;
    display: flex;
    flex-direction: column;
    gap: $gutter-mobile;

    .logo {
        margin: 0 auto;
        max-width: 120px;
        max-height: 25px;
    }

    .search-box {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $gutter-mobile;

        input {
            flex-grow: 1;
            padding-left: $input-padding-mobile + 18px + $unit;
            @include tablet {
                padding-left: $input-padding-tablet + 18px + $unit;
            }
        }

        .avatar {
            display: block;

            @include tablet {
                display: none;
            }
        }
    }

    button {
        position: relative;

        .icon {
            width: 16px;
        }
    }

    .avatar {
        display: none;

        @include tablet {
            display: block;
        }
    }
}