@import '../../../styles/partials/global';

.comments {
	p {
		@extend %label;
		font-family: 'Avenir Next Bold';
	}

    .icon {
		position: absolute;
		cursor: pointer;
		left: $input-padding-mobile;

		@include tablet {
			left: $input-padding-tablet;
		}
	}
}
