@import '../../../../styles/partials/mixins';

.comments__form {
	form {
		@include flex-pattern;
		@include flex-gap;
		flex: 1;

		@include tablet {
			flex-direction: row;
			align-items: flex-start;

			.button {
				transform: translateY(20px);
			}
		}
	}
}
