@import '../../../styles/partials/mixins';

.info {
	&__title {
		@include divider;

		h1 {
			@include header;
		}
	}

	&__data {
		@include divider;

		display: flex;

		& > div {
			@include padding-TB;
			@include flex-pattern;
			flex: 1;

			div {
				@include flex-pattern(row, flex-start, center);
				gap: $unit;
			}
		}
	}

	&__description {
		@include padding-TB;
	}
}
