@import '../../../styles/partials/mixins';

.text-control__next-videos {
    @include divider("top");
    @include flex-pattern;
    gap: 0;
    padding-bottom: $margin-mobile;

    @include tablet {
        padding-bottom: $margin-tablet
    }

    @include desktop {
		padding-left: $gutter-desktop;
        @include divider("left");
	}

    h2 {
        @include padding-TB;
        @include desktop {
            @include header;
        }
    }

    .next-videos-list {
        max-width: $width-next-video;
        @include flex-pattern;
        @include flex-gap;
    }
}